<!DOCTYPE html>
<html>
<head>
	<title>Spending Retriever</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel = "stylesheet" href="../stylesheets/login.css" type="text/css">
	<link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.min.css">
	<meta charset= 'utf-8'>
	<script>
		function RunScript(){
			user = document.getElementById("username").value;
			pw= document.getElementById("password").value;

			
			if(user!=undefined && pw!=undefined && user!="" && pw!="") {
				var uri = "http://pacific-caverns-6327.herokuapp.com/retrieve?username=" + user;
				self.location = uri;
			}
		    else {
				alert('Incorrect Username or Password');
				document.getElementById("user").value = "";
				document.getElementById("pw").value = "";
			}
			
		}
	</script>
</head>

<body>

<div class="container-fluid">

	<div class="rows">
		<div class="col-md-6 col-md-offset-3">
		<img src = "../images/dog.png" alt="Logo" width="350" />
		<br/>
		<h1>SpendingRetriever</h1>


		<form role="form" class="form-horizontal">
			<div class="form-group">
				<label for="inputUsername" class="col-sm-2 control-label">Username</label>
				<div class="col-sm-10">
					<input type="username" id = "username" class="form-control" placeholder="Enter Username">
				</div>
			</div>
			<div class="form-group">
				<label for="inputPassword" class="col-sm-2 control-label">Password</label>
				<div class="col-sm-10">
					<input type="password" id = "password" class="form-control" placeholder="Enter Password">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<a class="btn-lg" onclick="RunScript()">Login</button>
				</div>
			</div>
		</form>	
	</div>
</div>
</body>


</html>

