doctype html
html
  head
  title= 'SpendingRetriever'
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel='stylesheet', href='bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet', href='bootstrap/css/bootstrap-responsive.min.css')
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
  script(src='bootstrap/js/bootstrap.min.js')
  script(src='javascripts/chart/Chart.js')
  script(src='javascripts/retrieve.js')
  script(src='javascripts/twitter.js')
  script(src='https://apis.google.com/js/plusone.js')
  script.
    function setCookie(cname,cvalue,exdays)
    {
      var d = new Date();
      d.setTime(d.getTime()+(exdays*24*60*60*1000));
      var expires = "expires="+d.toGMTString();
      document.cookie = cname + "=" + cvalue + "; " + expires;
    }

    function removeCookie(){
      setCookie("user","");
    }
  link(rel='stylesheet', href='stylesheets/retrieve.css')
  body
    nav.navbar.navbar-default.navbar-collapse.bar(role=navigation)
        .container-fluid
            .navbar-header
                a(href="#").navbar-brand.bar-brand SpendingRetriever
            .collapse.navbar-collapse
                ul.nav.navbar-nav
                    li.active
                        a(href="#").act Overview
                    li
                        a(href="#") History
                    li
                        a(href="#") My Account
                    li
                        a(href="/" onclick="removeCookie()") Log Out
    block content