extends layout

block content
	script(type='text/javascript').
	div.container-fluid
		div.row-fluid
			.clearfix.visible-xs
			.col-ms-6.col-sm-6
				.text-center
					h1.text-center#totes= 'Total Amount Spent: $' + total
			.col-ms-6.col-sm-6
				.text-center
					canvas#chart
					script.
						$(document).ready(function(){
						hello();
						});
		div.panel.panel-default
			div.panel-heading
				table.table.table-striped.table-bordered#table
					thead
						tr
							th Website
							th Date
							th Total
					tbody
						each item in purchases
							tr
								td#web= item.website
								td#date= item.date
								td#price= item.price
					
	div#tweet
		script.
			var link = "https://twitter.com/share";
			var temp = document.getElementById("totes").innerHTML;
			var length = temp.length;
			var value = "";
			for(var i = 20; i < length; i++){
				value = value + temp[i];
			}
			
			$('<a href="'+link+'" class="twitter-share-button" data-url="http://pacific-caverns-6327.herokuapp.com/" data-lang="en" data-text="I just tracked ' + value + ' of my spending this month using SpendingRetriever!">Tweet</a>').appendTo($('#tweet'));

			$('head').append('<meta name="image" content="../../public/images/dog.png" />');

	div(class="g-plus", data-action="share")