#chart {
	margin: 0 auto;
	width: 300px;
	height: 300px;

}

.bar {
	background-color: #5bc0de;
}

a.navbar-brand.bar-brand {
	color: white;
}

ul.nav.navbar-nav li a {
	color: white;
}

ul.nav.navbar-nav li.active a.act {
	background-color: #a1ddef;
	color: white;
}

@media only screen and (max-width:500px){
    #chart {
        width: 150px;
        margin: 0 auto;
    }
}