#chart {
	margin: 0 auto;
	width: 100% !important;
	max-width:300px;
	height: auto !important;
}

.bar {
	background-color: #5bc0de;
}

a.navbar-brand.bar-brand {
	color: white;
}

ul.nav.navbar-nav li a {
	color: white;
}

ul.nav.navbar-nav li.active a.act {
	background-color: #a1ddef;
	color: white;
}

@media only screen and (max-width:400px){
    #chart {
        width: 250px !important;
        height: auto !important;
        margin: 0 auto;
    }
}